{% include 'gym/partials/head.html' %}
{% include 'gym/partials/message.html' %}
{% load static%}

<div class="container-aluno">
    <div class="container-form-cadastro form-avaliacao">
        <div class="form">
            <div class="logo">
                <img src="{% static 'global/img/logoAcad 1.png' %}" alt="">
            </div>
                <div class="form-content form-content-grid ">
                    <ul>
                        <li class="li-exibir">
                            <div class="exibir-nome">
                                <h2>Nome: {{ personal.nome }} {{ personal.sobrenome }}</h2>
                            </div>
                            <div class="exibir-email">
                                <h2>Email: {{ personal.E_mail }}</h2>
                            </div>
                            <div class="exibir-pagamento">
                                <h2>telefone: {{ personal.telefone }}</h2>
                            </div>
                        </li>
                    </ul>
                </div>

                <div class="">
                    <div class="form-grup form-button">
                        <a href="{% url 'gym:dashboard_personal'%}"><button type="button">Voltar</button></a>

                    </div>
                </div>
        </div>
    </div>
<script src="{% static 'global/js/jquery-3.6.4.min.js' %}"></script>
<script src="{% static 'global/js/jquery.mask.min.js' %}"></script>
<script src="{% static 'global/js/mascara.js' %}"></script>
</div>